@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Sriracha&display=swap');

/*Gerais*/

* {
    font-family:'Roboto', sans-serif ;
}


body {
    font-family:'Roboto', sans-serif;
}

.row {
    margin: 0px;
}

.container {
    padding: 30px 0px;
}

p,li {
    color: black;
    font-size: 14px;
}

/*Barra de Navegação*/
header, .navbar{
    background-color: black;

}

header {
    width: 100%;
    height: 100%;
    display: flex;
}

nav.container {
    padding-top: 0px;
    margin-bottom: 0px;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0px;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

#navbar-links a {
    color: white;
    padding: 15px;
    margin-top: 20px;
    font-size: 13px;
    font-weight: bolder;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
} 

#navbar-links a:hover {
    transition: .5s;
    background-color: rgb(12, 12, 12);
    border-radius: 15px;
    
    
}

.nav-item#contact-menu {
    margin-right: 80px;
}









.container {
  margin: 10px ;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

.container-fluid {
    padding: 0px;
}

#mainSlider .caroulsel-innner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption {
    top:30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size:22px ;
    font-weight: 300;
    margin-bottom: 100px;
    color: white;
}

.main-btn {
    background-color: #65DAF9;
    color: white;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration:none ;
    color: white;
    background-color: transparent;
    border-color:#65DAF9 ;

}

.carousel-indicators .active {
    background-color: #65DAF9;
}   

#container-title h1 {
    color: white;
    text-align: center;
    font-size:4.5em;
    margin-top: 80px;
    font-weight: bolder ;
}

#container-title h2 {
    color: white;
    text-align: center;
    font-size:1.2em;
    margin-top:30px ;
    font-weight: bolder ;
}

#button1 {
    padding: 15px 30px ;
    border-radius: 30px;
    border:#2A89DD;
    
    background-color: #2A89DD;
    margin-left: 50%;

    transform: translate(-50px);
    transition: .5s;
    margin-top: 50px;
    margin-bottom: 100px;
}

#button1:hover {
    box-shadow: 0 14px 26px -12px #2a8addbd;
}

.p-buttom {
    font-size: 12px;
    margin: auto;
    font-weight: bold;
    color: white;
}

i {
    font-size:70px; 
    color:#2A89DD ; 
    margin-bottom: 30px;
}

.main-title {
        text-align: center;
        font-size: 37px;
        font-weight: bold;
        margin-bottom: 60px;
        margin-top: 60px;   
     }

#services {
    display: block;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-left:35px ;
    margin-right: 35px;
    margin-top: -30px;
}

.service-box {
    text-align: center;
    margin:0px;
    padding: 75px 0px 55px;
}

.service-box h4 {
    font-weight: bold;
}

.service-box i {
    font-size: 65px;
    margin-bottom: 20px;
    color: #2A89DD;
    transition: .10s;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
    color:#2a8add67;
    transition: .5s;
}

/*clientes*/

main {
    box-shadow:0px 10px 10px 10px rgba(0, 0, 0, 0.068) ;
    margin-left: 20px;
    margin-right: 20px;
}

#clientes {
    background-color: white;
    box-shadow:left 10px black ;
}

#clientes .row h3 {
    font-weight: bold;
}

#clientes .row p {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    margin-top: -40px;
}

#card {
    display: block;
}

#card1 {
    display: inline-flex;
    width: 360px;
    height: 400px;
    border: transparent;
    margin-right: 30px;
    margin-left: 30px;
    
}

#card1 > img {
    margin-left: 130px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#card1 > h5 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    font-weight: bolder;
    text-align: center;
}

#card1 > p {
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    line-height: 1.7em;
   color: rgb(172, 172, 172);
}


#card2 {
    display: inline-flex;
    width: 360px;
    height: 400px;
    border: transparent;
    margin-right: 30px;
    
    
}


#card2 > img {
    margin-left: 130px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#card2 > h5 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    font-weight: bolder;
    text-align: center;
}

#card2 > p {
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    line-height: 1.7em;
   color: rgb(172, 172, 172);
}




#card3 {
    display: inline-flex;
    width: 360px;
    height: 400px;
    border: transparent;
    margin-right: 50px;
    
}



#card3 > img {
    margin-left: 130px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#card3 > h5 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    font-weight: bolder;
    text-align: center;
}

#card3 > p {
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    line-height: 1.7em;
   color: rgb(172, 172, 172);
}


#card4 {
    display:inline-flex;
    width: 360px;
    height: 400px;
    border: transparent;
    margin-right: 30px;
    margin-left: 30px;
    
}


#card4 > img {
    margin-left: 130px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#card4 > h5 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    font-weight: bolder;
    text-align: center;
}

#card4 > p {
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    line-height: 1.7em;
   color: rgb(172, 172, 172);
}





#card5 {
    display: inline-flex;
    width: 360px;
    height: 400px;
    border: transparent;
    margin-right: 30px;
    
}

#card5 > img {
    margin-left: 130px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#card5 > h5 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    font-weight: bolder;
    text-align: center;
}

#card5 > p {
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    line-height: 1.7em;
   color: rgb(172, 172, 172);
}


#card6 {
    display:inline-flex;
    width: 360px;
    height: 400px;
    border: transparent;
    margin-right: 30px;
    
}

#card6 > img {
    margin-left: 130px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#card6 > h5 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    font-weight: bolder;
    text-align: center;
}

#card6 > p {
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    line-height: 1.7em;
   color: rgb(172, 172, 172);
}






#card7 {
    display: inline-flex;
    width: 360px;
    height: 400px;
    border: transparent;
    margin-right: 30px;
    margin-left: 30px;
    
}

#card7 > img {
    margin-left: 130px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#card7 > h5 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    font-weight: bolder;
    text-align: center;
}

#card7 > p {
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    line-height: 1.7em;
   color: rgb(172, 172, 172);
}



#card8 {
    display: inline-flex;
    width: 360px;
    height: 400px;
    border: transparent;
    margin-right: 30px;
    
}

#card8 > img {
    margin-left: 130px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#card8 > h5 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    font-weight: bolder;
    text-align: center;
}

#card8 > p {
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    line-height: 1.7em;
   color: rgb(172, 172, 172);
}




#card9 {
    display:inline-flex;
    width: 360px;
    height: 400px;
    border: transparent;
    margin-right: 30px;
    
}

#card9 > img {
    margin-left: 130px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#card9 > h5 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    font-weight: bolder;
    text-align: center;
}

#card9 > p {
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    line-height: 1.7em;
   color: rgb(172, 172, 172);
}


#contact-area {
    width: 1262px;
    height: 800px;
    background-image: url(../imagem/wpp-cidade2.jpeg);
    background-size: cover;
    background-position:center center  ;
    background-repeat: no-repeat;
}

.hestia-info {
    padding-top: 80px;

}

#contato-info1  i {
    color: white;
    font-size: 40px;
    margin-left:50px;
    margin-right: 25px;
}

#contato-info2 i {
    color: white;
    font-size: 40px;
    margin-left:50px;
    margin-right: 25px;
}



#contact-area h2 {
    display: flex;
    font-family:'Roboto' ;
    color: white;
    font-weight: bolder;
    margin-left: 50px;;
    margin-bottom: 100px;
    font-size: 2.2em;
}

#contato-info1 {
    display: flex;
    width: 300px;
}

#contato-info2 {
    display:flex;
    width: 300px;
}

#contato-info1 h5 {
    margin-left: 100px;
    color: white;
    font-weight: bolder;
    margin-left: 0px;
}

#contato-info1 p {
    margin-left: 100px;
    color: white;
    font-weight: bolder;
    margin-left: 0px;
}



#contato-info2 h5 {
    margin-left: 100px;
    color: white;
    font-weight: bolder;
    margin-left: 0px;
}

#contato-info2 p {
    margin-left: 100px;
    color: white;
    font-weight: bolder;
    margin-left: 0px;
    margin-bottom: 10px;
}


.content {
    background-color: white;
    width: 500px;
    height: 500px;
   float: right;
   border-radius: 10px;
   margin-top: -300px;
   margin-right: 60px;
    
}



#header {
    display: flex;
}

#header .container {
    display: block;
    background-color: #2A89DD;
    color: white;
    width: 470px;
    height:90px ;
    margin-top: -30px;
    border-radius: 5px;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);

}

.col-md-6 {
    width: 100px;
    margin: auto;
}

#header .container h4 {
    font-size: 19px;
    font-weight: bolder;
     width: 150px;
     margin-left: 40px;
     
}


.forms {
    display: inline-flex;
    padding: 10px;
    
    
}

input {
    padding: 8px;
}

.forms:hover {
    transition: .5s;
    border: none;
    text-decoration: none;
}


#form-n, #form-e {
    margin-top: 80px;
}

#form-a {
    display: block;
   
}

form > input[type=submit] {
    font-size: 20px;
    float: right;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right:35px ;
    padding-left:35px ;
    border-radius:30px ;
    background-color: #2A89DD;
    color: white;
    border: none;
    margin-top: 80px;
    margin-right: 50px;

}

form > input[type=submit]:hover {
    transition: .5s;
    box-shadow: 0 14px 26px -12px rgb(42 137 221 / 42%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(42 137 221 / 20%);
}


/*footer*/

footer {
    display: flex;
    width: 1262px;
    height: 147px;
    background-color: #323437;
    margin-top:364px ;
}

footer .container img {
   float: right;
   margin-right: -30px;
}

footer a {
    display: inline-flex;
    font-size: 12px;
    padding: 15px;
    font-weight: bolder;
    color: white;
}

footer a:hover {
    transition: .5s;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.685);
}




/*MEDIA QUERY*/

/*celular*/
@media (min-width:400px) and (max-width:768px)  {
   

    body {
        width: 450px;

    }

    header {
        width: 450px;
    }

   

    #area-clientes #card {
        display: block;
        margin-left: 10px;
        margin-top: 20px;
    }

   #services .col-md-4{
    font-size: 80px;
   }

    #container-title  .col-12 {
        margin-left: 0px;
        float: left;
        font-size: 9px;
    }

    content  > form {
     float: left;
     margin-top:800px  ;
    }

    .forms {
        display:inline-flex;
        margin-top: 500px;
    }

    #contact-area {
        width: 100vw;
    }


    #contact-area {
        width: 1224px;
        height: 1500px;
        background-image: url(../imagem/wpp-cidade2.jpeg);
        background-size: cover;
        background-position:center center  ;
        background-repeat: no-repeat;
    }

    footer {
        margin-top: 990px;
    }
}

/*tablet*/

@media (min-width:769px) and (max-width:992px) {
   main {
    width: 900px;
   width: 100vw;
   }

   #area-clientes #card {
    margin-left: 180px;
    margin-top: 20px;
}
}































